*{
  font-family: "Open Sans";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.html{
  font-size:12px;
}

.bienvenida{
  background:url("../img/portada.jpg")no-repeat left fixed;
  height: 100vh;
  background-size: cover;

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.bienvenida .container{
  width:100%;
}

.display{
  width: 100%;
  background-color: rgba(0,0, 0, 0.5);
}

.display h1{
  color:#fff;
  font-size:5em;
}
.display h3{
  color:#fff;
  font-size:2em;
}

.fontaw .col-md-4 i{
  font-size: 7em;
}

.txtsup{
  margin-top: 60px;
  margin-bottom: 60px;
}

.txtsup i{
  color:#bbb;
}
.warpx{
  padding-bottom: 10px;
}

.warpx .fontaw .col-md-4,.tarjetas .container .row .col-md-4{
  padding-bottom: 20px;

}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        box-shadow: 5px 5px 10px #ccc;
        border-color:white;
        border-width: 2px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
}

.footer p{
  background: #5f5f5f;
  color:white;
}

.tarjetas{
  background-color: #E1E1E1;

}

.tarjetas .container{
    padding-top:80px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color:rgb(254,209,54);
  border-color: #ec971f;
  width: 100%;
  margin-bottom: 0.5rem;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  width: 100%;
  margin-bottom: 0.5rem;
}


.card img{
  width:100%;
  max-height:200px;
}

.tarj-cab{
  width: 100%;
  height: 250px;
  background-size: contain;
  border-radius:120px;
  border-top-left-radius:120px;
  border-top-right-radius:120px;
  border-bottom-left-radius:120px;
  border-bottom-right-radius:120px;
}

/*
.tarj-cab{
  width: 100%;
  height: 250px;
  background-size: contain;

}
.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        box-shadow: 5px 5px 10px #ccc;
        border-color:white;
        border-width: 2px;
}
*/
footer{
  background-color: black;
  padding: 10px;
}

.copyright{
  color:white;
}
footer .container{
background-color:
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color:#fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.bg-faded {
    background-color: #000;
}

.navbar-nav .nav-item .nav-link,.navbar-nav .nav-item .nav-link:hover{
color:#fff;
  font-family: "Open Sans";
}

.navbar-toggler .navbar-toggler-icon{
color:#fed136;
}
.custom-toggler.navbar-toggler {
    border-color:rgb(254,209,54);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,209,54, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

footer ul.quicklinks li a{
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  color:#fed136;
}

.pagination .page-item a{
  color:#fed136;
}

.texto_detalle h5{
  color:#333;
}

.photodet{
  width: 100%;
  height: 450px;
  background-size: contain;
}
.breadcrumb{
  background-color: rgba(0, 0, 0, .3);
}
.breadcrumb a {
    color: #fed136;
    text-decoration: none;
}

.breadcrumb .active {
    color: white;
    text-decoration: none;
}
.intext{

}
